# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
dual_venv/
venv/
.env/

# Ignore pytest cache
.pytest_cache/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

